<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="off">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><?php echo RThink_Config::get('app.name'); ?></title>
    <link href="/admin/style/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/style/system.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/style/zh-cn-styles4.css" rel="stylesheet" type="text/css"/>
    <link href="/admin/style/table_form.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/js/thickbox/thickbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin/js/thickbox/thickbox.css"/>
    <script type="text/javascript" src="/admin/js/zhuayi.js"></script>
    <script type="text/javascript" src="/admin/js/parent.js"></script>

    <style type="text/css">
        .header .nav li.display {
            background-image: none;
            font-size: 12px;
            font-weight: normal;
            width: 22px;
        }

        .header .nav li.display span.clicked, .header .nav li.display span.shortCut:hover {
            cursor: pointer;
            background-color: #bdbdbd;
            border: 1px solid #bababa;
            color: #000000;
            -moz-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
            padding: 5px 0px;
        }

        .header .nav li.display ul {
            z-index: 100;
            position: relative;
            top: -5px;
            left: -71px;
            width: 90px;
            background-color: #ffffff;
            border: 1px solid #bababa;
            -moz-box-shadow: 2px 2px 5px #AAAAAA;
            -webkit-box-shadow: 2px 2px 5px #AAAAAA;
            box-shadow: 2px 2px 5px #AAAAAA;
        }

        .header .nav li.display li {
            float: none;
            background-image: none;
            padding: 0px;
            line-height: auto;
            height: auto;
        }

        .header .nav li.display a {
            color: #000000;
            font-weight: normal;
            text-align: center;
            background-color: #ffffff;
            background-image: none;
            font-size: 12px;
            line-height: 18px;
            display: block;
            width: 80px;
            height: 24px;
            line-height: 24px;
            padding: 2px 5px;
        }

        .header .nav li.display a:hover {
            text-decoration: none;
            background-color: #efefef;
        }
    </style>

</head>
<body scroll="no" style="overflow-y:hidden;">
<div class="header">
    <div class="logo lf">
        <!-- <a href="/zpadmin/admin/" style="color:#fff">测试环境</a> -->
    </div>
    <div class="rt">
        <div class="tab_style white cut_line text-r">
            <!-- <a href="javascript:">官方网站</a><span>|</span>
            <a href="javascript:">支持论坛</a><span>|</span>
            <a href="javascript:">帮助？</a> -->
        </div>
        <div class="style_but"></div>
    </div>

    <div class="col-auto" style="overflow: visible">
        <div class="log white cut_line">
            您好！<b><?php echo $admin['username']; ?> (<?php echo $admin['nick']; ?>)</b>
            <span>|</span>
            <a href="/zpadmin/ldap/modify" target="right">[帐号]</a>
            <a href="/admin/logout">[退出]</a>
            <span>|</span>
            <a href="<?php echo $weburl; ?>" target="_blank" id="site_homepage">站点首页</a><span>|</span>
            登录时间: <?php echo $admin['logintime']; ?>
        </div>
        <ul class="nav white">
            <?php foreach ($menu_list as $key => $val) { ?>
                <li class="<?php if ($key == 0) {
                    echo 'on';
                } ?> top_menu">
                    <a href="javascript:" onclick="menu_list(this);"
                       data-id="<?php echo $val['id']; ?>"><?php echo $val['title']; ?></a>
                </li>
            <?php } ?>
        </ul>

    </div>

</div>

<div id="content" style="clear:both">
    <div class="col-left left_menu">

        <div id="leftMain" style="overflow-y:auto;overflow-x:hidden;width:120px;"></div>
        <a href="javascript:;" id="openClose" style="outline-style: none; outline-color: invert; outline-width: medium;"
           hideFocus="hidefocus" class="open" title="展开与关闭" onclick="left_close()"><span class="hidden">展开</span></a>
    </div>


    <div class="col-auto mr8">

        <div class="crumbs">
            <?php if (empty($show['is_guest'])) { ?>
                <div class="shortcut cu-span">
                    <a href="javascript:recache();" target="right"><span>更新缓存</span></a>
                </div>
            <?php } ?>
            当前位置：<span id="current_pos1"><a id="zcms"/></a> > <span id="current_pos"></span>
        </div>

        <div class="col-1">
            <iframe name="right" id="rightMain"
                    src="<?php if (empty($show['is_guest'])) { ?>/zpadmin/procedure/meet_list<?php } else { ?>/zpadmin/admin/blank<?php } ?>"
                    frameborder="false" scrolling="auto" style="overflow-x:hidden;border:none; " width="100%"
                    height="auto" allowtransparency="true"></iframe>
        </div>

    </div>

</div>
<script type="text/javascript">
//clientHeight-0; 空白值 iframe自适应高度
var url = "<?php echo $url;?>";
var is_guest = "<?php echo $is_guest;?>";

if (url != '') {
    window.location.href = url;
}

$(document).ready(function () {

    // 操作1
    menu_list($(".top_menu").eq(0).find('a'));

    $(".zajax").zajax();

    // 操作2
    var oriChildren = $(".header").find("ul.nav li");
    resizeWidth = $(window).width();
    resizeHeight = $(window).height();

    $(".header").find("ul.nav").shortCutList([146], [$(".header").outerWidth()]);


    $(window).resize(function () {
        if (resizeHeight != $(window).height() || resizeWidth != $(window).width()) {
            //将ul恢复原状
            $(".header").find("ul.nav").children("li").remove()
                .end().append(oriChildren);

            $(".header").find("ul.nav").shortCutList([146], [$(".header").outerWidth()]);
            resizeWidth = $(window).width();
            resizeHeight = $(window).height();

        } else {
            return;
        }
    });


    $(".header").find("ul.nav").delegate("ul.displayPanel a", "click", function () {
        var that = this;
        $.each(oriChildren, function (b, element) {
            $(element).removeClass("on");
            if ($.trim($(element).find("a").text()) == $.trim($(that).text())) {
                $(element).addClass("on");
            }
        })

    });
});


function windowW() {

    if ($(window).width() < 980) {

        $('.header').css('width', 980 + 'px');

        $('#content').css('width', 980 + 'px');

        $('body').attr('scroll', '');

        $('body').css('overflow', '');

    }

}

windowW();

$(window).resize(function () {

    if ($(window).width() < 980) {

        windowW();

    } else {

        $('.header').css('width', 'auto');

        $('#content').css('width', 'auto');

        $('body').attr('scroll', 'no');

        $('body').css('overflow', 'hidden');
    }
    heights = $(window).height() - $(".crumbs").height() - $(".header").height();
    $("#rightMain,#leftMain").height(heights - 20);
});

heights = $(window).height() - $(".crumbs").height() - $(".header").height();
$("#rightMain,#leftMain").height(heights - 20);
var openClose = $("#rightMain").height() + 39;
$("#openClose").height(openClose + 30);


/* 获取菜单 */
function menu_list(obj) {
    $(obj).parent().addClass('on').siblings().removeClass('on');
    id = $(obj).attr('data-id');
    $('#zcms').text($(obj).text());

    $.get('/admin/menu/getlist?id=' + id, function (res) {

        if (res == '') {
            return false;
        }

        if (res.code == '1') {
            $("#leftMain").html('');

            if (is_guest) {
                $("#rightMain").attr('src', '/zpadmin/admin/blank');
            } else {
                $("#rightMain").attr('src', '/zpadmin/procedure/meet_list');
            }

            $.each(res.data, function (k, v) {

                txt = '<div>';
                txt += '    <h3 class="f14"><span class="switchs on cu" title="展开与收缩" onclick="switchs(this)"></span>' + v['title'] + '</h3>';
                txt += '    <ul>';

                if (v['menu_list'] != null) {
                    $.each(v['menu_list'], function (kk, vv) {
                        if (vv['target'] == 0) {
                            if (vv['par'] != '') {
                                vv['par'] = '/' + vv['par'];
                            }
                            if (vv['ajax'] != '') {
                                vv['ajax'] = '/' + vv['ajax'];
                            }
                            txt += '    <li id="s_menu_' + vv['id'] + '" class="sub_menu"><a href="' + vv['url'] + '" hidefocus="true"  onclick="return menu_click(this)">' + vv['title'] + '</a></li>';
                        }
                        else {
                            txt += '    <li id="s_menu_' + vv['id'] + '" class="sub_menu"><a href="' + vv['url'] + '" hidefocus="true"  target="_blank">' + vv['title'] + '</a></li>';
                        }

                    })
                }

                txt += '    </ul>';
                txt += '<div>';
                $("#leftMain").append(txt);
            })


        }
        else {
            window.location.reload();
        }

        a('parent_' + $(obj).attr('data-id'));
    }, 'json');
}


function a(callback) {
    try {
        if (typeof(eval(callback)) == "function") {
            callback = eval(callback);
            callback();
        }

    }
    catch (e) {

    }

}

/** 菜单点开 **/
function menu_click(obj) {
    $(".sub_menu").removeClass('on');
    $(obj).parent().addClass('on');
    str = $(obj).parent().parent().prev().html().replace(/<[^>]*>/g, '');
    $("#current_pos").html(str + ' > ' + '<span id="right_menu">' + $(obj).html() + '</span>');
    $("#rightMain").attr('src', $(obj).attr('href'));
    return false;
}
/** 左侧开关 **/
function left_close() {
    var obj = $("#openClose");
    if ($(obj).data('clicknum') == 1) {
        $("html").removeClass("on");

        $(".left_menu").removeClass("left_menu_on");

        $(obj).removeClass("close");

        $(obj).data('clicknum', 0);

        $(".col-1").css('width', 'auto')
    }
    else {
        $(".left_menu").addClass("left_menu_on");
        $(".col-1").css('width', '100%')
        $(obj).addClass("close");

        $("html").addClass("on");

        $(obj).data('clicknum', 1);
    }
}


function switchs(obj) {
    var parent = $(obj).parent().next('ul')
    if ($(parent).css('display') == 'block') {
        $(obj).addClass('cu').removeClass('on');
        $(parent).css('display', 'none');
    }
    else {
        $(obj).addClass('on');
        $(parent).css('display', 'block');
    }
}

/* 更新缓存 */
function recache() {
    var url = document.getElementById('rightMain').contentWindow.document.location.href;
    if (url.substr(-1, 1) != '&') {
        if (url.indexOf('?') < 0) {
            url += '?';
        }
        else {
            url += "&";
        }
    }
    url += "recache";
    $("#rightMain").attr('src', url);
}


jQuery.fn.extend({
    shortCutList: function () {
        var starts = arguments[0],
            totalWidths = arguments[1];
        return this.each(function (i, v) {
            var children = $(v).children(),
                len = starts[i],
                totalWidth = totalWidths[i],
                flagWidth = 30,
                pos = -1,
                spareElems = new Array();

            $.each(children, function (n, elem) {
                if (pos != -1) {
                    return;
                }

                len += $(elem).outerWidth();
                if (len > totalWidth) {
                    pos = n;
                    len -= $(elem).outerWidth();
                    len += flagWidth;
                    if (len > totalWidth) {
                        pos--;
                    }
                }
            });

            if (pos != -1) {
                spareElems = children.splice(pos, children.length - pos);
                var displayPanel = createDisPanel(spareElems);
                $(v).append(displayPanel);
                $("ul.displayPanel").hide();
            }

            function createDisPanel(spareElems) {
                var rootElem = $('<li class="display"></li>'),
                    ulElem = $('<ul class="displayPanel" ></ul>');

                $(spareElems).removeClass("on");
                $(ulElem).append(spareElems);

                $(rootElem).append('<span class="shortCut">&gt;&gt;</span>')
                    .append(ulElem);

                return rootElem;
            }

            $(v).delegate("li.display span", "click", function () {
                $(this).addClass("clicked")
                    .next().show();
            })

            $("body").click(function (event) {

                if (event.target.tagName == "SPAN") return;
                $("li.display span").removeClass("clicked")
                    .next().hide();

            });
        });
    }
});

$(document).keydown(function (e) {
    if (116 == e.keyCode)//F5刷新
    {
        right.location.reload();
        e.preventDefault();
    }
});

</script>
</body>
</html>