<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="google" value="notranslate">
    <title></title>
    <link href="/admin/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="/admin/style/system.css" rel="stylesheet" type="text/css" />
    <link href="/admin/style/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/style/zh-cn-styles4.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/js/zhuayi.js"></script>
    <script type="text/javascript" src="/admin/js/thickbox/thickbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin/js/thickbox/thickbox.css"/>

    <script language="javascript" type="text/javascript" src="/admin/js/form/formvalidator.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/admin/js/form/formvalidatorregex.js" charset="UTF-8"></script>
    <script language="javascript" type="text/javascript" src="/admin/js/select.js" charset="UTF-8"></script>

    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ffbc4195f9efbf18c0c4b26aeb3ff01f5' type='text/javascript'%3E%3C/script%3E"));
    </script>

</head>
<body>
<div class="subnav">
    <?php if (isset($menu)): ?>
        <div class="content-menu ib-a blue line-x">
            <?php foreach ($menu as $val):?>
                <a href="<?php echo $val['url'];?>" class="<?php if (strtolower($this->getRequest()->getModuleName().$this->getRequest()->getControllerName()) == $val['modle'].$val['action'].$val['par']){echo 'on';}?> <?php if (!empty($val['ajax'])){echo ' thickbox';}?>" <?php if ($val['target']=='1'){echo 'target=_blank""';}?> title="<?php echo $val['title'];?>"><em class="right_menu"><?php echo $val['title'];?></em></a><span>|</span>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
</div>
<div class="pad_10">
    <?php if (isset($show['tips'])){?>
        <div class="explain-col">
            温馨提示：<?php echo $show['tips'];?>
        </div>
        <div class="bk10"></div>
    <?php }?>