<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <title><?php if (isset($title)): echo $title; else: echo RThink_Config::get('app.name'); endif;?></title>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/styles.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/js/zhuayi.js"></script>
    <script type="text/javascript" src="/admin/js/thickbox/thickbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin/js/thickbox/thickbox.css"/>

    <![endif]-->

    <style>
        body{font-size: 12px;}
    </style>
</head>

<body>

<!--<div class="container-fluid" style="margin-top: -50px;">-->
<div class="container-fluid">
    <div class="row-fluid">
        <!--/span-->
        <div class="span12" id="content">

            <div class="row-fluid">

                    <?php if (isset($menu)):?>
                        <div class="bs-docs-example" style="margin-top: 10px;">
                        <div class="alert alert-info" style="padding: 0px 35px 0px 14px;margin-bottom: 0px">
                            <ul class="breadcrumb" style="margin-left: 10px;">
                                <?php foreach($menu as $val): ?>
                                <li>
                                   <a href="<?php echo $val['url'];?>" class="<?php if (!empty($val['ajax'])){echo ' thickbox';}?>" <?php if ($val['target']=='1'){echo 'target=_blank""';}?> title="<?php echo $val['title'];?>">
                                       <?php if (strtolower($this->getRequest()->getModuleName().$this->getRequest()->getControllerName()) == $val['modle'].$val['action'].$val['par']): ?>
                                       <span class="label label-success"><?php echo $val['title'];?></span>
                                       <? else: ?>
                                       <?php echo $val['title'];?>
                                       <? endif; ?>
                                   </a>
                                    <span class="divider">/</span>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
                    <?php endif; ?>

            </div>


            <div class="row-fluid">
                <?php include $layout_content; ?>
            </div>

        </div>
    </div>

</div>
</body>